* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 1440px;
  margin: 0 auto;
  /* position: relative; */
}

.main {
  margin: 20px;
  margin-left: 200px;
  margin-right: 200px;
  position: relative;
  /* padding: 20px; */
  border: 6px solid black;
}
.main .sale {
  background: red;
  width: 50px;
  padding: 10px;
  color: white;
  letter-spacing: 0.2em;
  position: absolute;
  top: -3%;
  left: -2%;
}
.main .heading {
  margin-top: 10px;
}
.main .heading h2 {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}
.main .shoes_info {
  margin-left: 20px;
  margin-top: 30px;
  line-height: 2;
  position: relative;
}
.main .shoes_info img {
  width: 300px;
}
.main .shoes_info .shipping {
  font-size: 10px;
}
.main .shoes_info a {
  color: black;
}
.main .shoes_info a:hover {
  text-decoration: none;
}
.main .add_to_cart button {
  background-color: black;
  color: white;
}
.main .add_to_cart button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
.main .product_details {
  margin-left: 20px;
  margin-top: 10px;
  line-height: 2;
}
.main .product_details ul {
  margin-left: 20px;
  list-style: square;
  font-size: 16px;
}
.main .add_to_cart {
  margin-top: 10px;
}
.main .add_to_cart button {
  padding: 10px;
  width: 100%;
}
.main .color {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  gap: 10px;
}
.main .color_1 {
  width: 30px;
  aspect-ratio: 1;
  background-color: black;
}
.main .color_2 {
  width: 30px;
  aspect-ratio: 1;
  background-color: blue;
}
.main .color_3 {
  width: 30px;
  aspect-ratio: 1;
  background-color: red;
}
.main .color_4 {
  width: 30px;
  aspect-ratio: 1;
  background-color: yellow;
}
.main .color_5 {
  width: 30px;
  aspect-ratio: 1;
  background-color: lightgreen;
}
.main .color_6 {
  width: 30px;
  aspect-ratio: 1;
  background-color: rgb(224, 62, 62);
}
.container .main .hero {
  display: flex;
  flex-direction: row;
}
.container .main .hero .shoes {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.container .main .hero .shoes .shoes_info {
  display: flex;
  flex-direction: row;
}
.container .main .hero .shoes .shoes_info .content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.container .main .hero .shoes .shoes_info .content .prize {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container .main .hero .product_details {
  margin-top: 30px;
}