/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
}
figure,
.figure,
.picture {
  position: relative;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  width: 100%;
}
.picture > img,
.picture > iframe,
.picture > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
a {
  text-decoration: none;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
ul, li {
  list-style-type: none;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
/* .hero_bck {
  background-color: #ffdec1;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
} */
.container .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}
.container .navbar .logo img {
  width: 200px;
}
.container .navbar .navitems {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.container .navbar .navitems a {
  font-size: 18px;
  color: #704825;
  transition: all 0.5s;
}
.container .navbar .navitems a:hover {
  font-weight: 700;
  color: #e67e22;
  transition: all 0.5s;
}
.container .navbar .navitems a:last-child {
  background-color: #e67e22;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  border-radius: 8px;
  transform: translate(0, -4px);
}
.container .hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
  /* justify-content: space-between; */
  padding: 80px 100px;
  /* background-color: #e8dace; */
}
.container .hero .hero_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.container .hero .hero_content .hero_heading {
  font-size: 52px;
  color: #211207;
  line-height: 1.02;
  font-weight: 700;
}
.container .hero .hero_content p {
  font-size: 18px;
  line-height: 1.3;
  color: #3e240c;
}
.container .hero .hero_content .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.container .hero .hero_content .buttons .btn:link,
.btn:visited {
  color: white;
}
/* .container .hero .hero_content .buttons .btn:hover {
  background-color: #d28f56;
} */
.btn-effect:hover,
.btn-effect:active {
  background-color: #d28f56;
  transition: all 1s;
}
.btn-jump:hover {
  display: inline-block;
  animation: jump 0.5s infinite ease-in-out alternate;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.container .hero .hero_content .buttons .btn:link,
.btn:active {
  background-color: #e67e22;
  border-radius: 12px;
  padding: 16px 32px;
  color: white;
  display: inline-block;
  width: fit-content;
}
.container .hero .hero_content .buttons a:last-child {
  background-color: white;
  color: black;
}
.container .hero .hero_content .customer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.container .hero .hero_content .customer p {
  font-weight: 400;
}
.container .hero .hero_content .customer p span {
  font-weight: 800;
  color: #e67e22;
}
.container .hero .hero_content .customer .customer_img img:first-child {
  margin-left: 0;
}
.container .hero .hero_content .customer .customer_img img {
  margin-top: 20px;
  width: 48px;
  border-radius: 50%;
  margin-left: -20px;
  transform: translate(0, -20%);
}
.container .hero .hero_image {
  width: 50%;
}
.container .hero .hero_image .picture {
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.container .featured {
  padding: 120px 100px;
}
.container .featured h3 {
  color: grey;
  text-align: center;
  margin-bottom: 36px;
}
.container .featured .brand_logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo_size {
  filter: brightness(0);
  width: 200px;
  opacity: 0.5;
}
.container .how {
  padding: 40px 100px 80px 100px;
}
.container .how .heading h1 {
  font-size: 44px;
  color: #211207;
  margin-bottom: 20px;
}
.container .how .heading h3 {
  color: #d09a6a;
}
.container .how .steps {
  padding: 40px;
}
.container .how .steps .each_step {
  display: flex;
  flex-direction: row;
  gap: 160px;
  margin-bottom: 40px;
  /* align-items: center; */
}
.container .how .steps .each_step:last-child {
  margin-bottom: 0;
}
.container .how .steps .each_step .step_content h1 {
  font-size: 98px;
  color: rgb(196, 196, 196);
  margin-top: 80px;
  margin-bottom: 10px;
}
.container .how .steps .each_step .step_content h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.container .how .steps .each_step .step_content p {
  line-height: 1.4;
  font-size: 16px;
}
.container .how .steps .each_step .step_img {
  width: 50%;
  transition: all 0.4s;
}
.container .how .steps .each_step .step_img:hover {
  transform: translateY(-1rem);
  transition: all 0.4s;
}
.container .how .steps .each_step .step_img img {
  /* display: block;
  width: 100%;
  height: 0;
  padding-top: 203%;
  object-fit: contain; */
  width: 300px;
}
.circle {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.circle::before,
.circle::after {
  content: "";
  display: flex;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.circle::before {
  width: 250px;
  padding-bottom: 250px;
  /* background-color: rgba(230, 125, 34, 0.438); */
  /* background-image: radial-gradient(rgba(230, 125, 34, 0.5), rgb(244, 182, 128), rgba(255, 226, 200, 0.438)); */
  box-shadow: 0px 0px 250px 100px #daa87d;
}
/* .circle::after {
  width: 400px;
  padding-bottom: 400px;
  background-color: #d09a6a;
} */
.container .meals_section {
  padding: 40px 100px 80px 100px;
}
.container .meals_section .heading p {
  color: #e67e22;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
}
.container .meals_section .heading {
  margin-bottom: 20px;
  text-align: center;
  /* justify-content: center; */
}
.container .meals_section .heading h1 {
  font-size: 44px;
  color: #211207;
  /* margin-bottom: 20px; */
}
.container .meals_section .meals {
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.container .meals_section .meals .each_meal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 10px 10px 10px rgb(226, 225, 225);
  transition: all 0.4s;
}
.container .meals_section .meals .each_meal:hover {
  transform: translate(1rem, -1rem);
  transition: all 0.4s;
}
.container .meals_section .meals .each_meal .meal_img {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container .meals_section .meals .each_meal .meal_img .picture {
  display: block;
  width: 100%;
  height: 154px;
  width: 300px;
  height: 200px;
  /* padding-top: 67%; */
}
.container .meals_section .meals .each_meal .meal_img .picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .meals_section .meals .each_meal .meal_info {
  padding-left: 20px;
}
.container .meals_section .meals .each_meal .meal_info h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.container .meals_section .meals .each_meal .meal_info ul {
  line-height: 2.5;
}
.container .meals_section .meals .each_meal .meal_info ul li span {
  width: 30px;
}
.container .meals_section .meals .each_meal .meal_info ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tag-vegetarian {
  background-color: #51cf66;
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 8px;
}
.tag-vegan {
  background-color: #94d82d;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 8px;
}
.tag-paleo {
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 8px;
  background-color: rgb(227, 227, 37);
}
.svg_size {
  width: 30px;
  stroke: #cf925c;
  margin-right: 10px;
}
.container .meals_section .meals .diet_list {
  padding: 20px;
}
/* .container .meals_section .meals .diet_list:hover {
  transform: translate(1rem, -1rem);
  transition: all 0.4s;
} */
.container .meals_section .meals .diet_list h3 {
  margin-bottom: 20px;
  color: #211207;
  font-weight: 700;
  font-size: 30px;
}
.container .meals_section .meals .diet_list ul {
  margin-left: 0px;
}
.container .meals_section .meals .diet_list ul li {
  font-size: 16px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}
.container .meals_section .recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.link:link,
.link:visited {
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
  padding-bottom: 2px;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
.container .meals_section .meals .diet_list ul li:last-child {
  margin-bottom: 0;
}
.container .testimonial .main {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 700px 600px;
  padding: 100px 0;
}
.container .testimonial .main .content {
  padding: 80px 100px;
}
.container .testimonial .main .content .heading h3 {
  font-size: 18px;
  color: #e67e22;
  margin-bottom: 20px;
}
.container .testimonial .main .content .heading h1 {
  font-size: 36px;
  color: #211207;
  line-height: 1.1;
}
.container .testimonial .main .content .customer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 48px;
  margin-top: 80px;
}
.container .testimonial .main .content .customer .each_customer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.container .testimonial .main .content .customer .each_customer p {
  font-size: 14px;
  line-height: 1.8;
  color: rgb(97, 90, 86);
}
.container .testimonial .main .content .customer .each_customer .image img {
  width: 50px;
  border-radius: 50%;
}
.container .testimonial .main .image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8px;
  row-gap: 8px;
}
.container .testimonial .main .image .picture {
  padding-top: 100%;
  /* overflow: hidden; */
}
.container .testimonial .main .image .picture img {
  transition: all 0.4s;
}
.container .testimonial .main .image .picture img:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}
.container .price .main {
  padding: 80px 100px;
}
.container .price .main .heading h3 {
  font-size: 18px;
  color: #e67e22;
  margin-bottom: 20px;
}
.container .price .main .heading h1 {
  font-size: 44px;
  color: #211207;
  line-height: 1.1;
}
.container .price .main .price_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  gap: 100px;
}
.container .price .main .price_card .card {
  position: relative;
  overflow: hidden;
  padding: 4.8rem;
}
.container .price .main .price_card .card .stamp p {
  background-color: rgb(252, 211, 61);
  padding: 10px 52px;
  color: black;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  transform: rotate(45deg);
  top: 7%;
  right: -10%;
  margin: 0;
}
.container .price .main .price_card .card h3 {
  font-size: 18px;
  color: #e67e22;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 800;
}
.container .price .main .price_card .card h1 {
  text-align: center;
  font-size: 62px;
  font-family: "Rubik" , sans-serif;
  font-weight: 500;
  color: rgb(51, 51, 51);
  margin-bottom: 20px;
}
.container .price .main .price_card .card h1 span {
  font-size: 32px;
}
.container .price .main .price_card .card p {
  text-align: center;
  font-size: 16px;
  color: rgb(112, 112, 112);
  margin-bottom: 40px;
}
.container .price .main .price_card .card ul li {
  margin-bottom: 14px;
  color: rgb(77, 77, 77);
}
.container .price .main .price_card .card ul li:last-child {
  margin-bottom: 0;
}
.container .price .main .price_card .card ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .price .main .price_card .card .button {
  text-align: center;
}
.container .price .main .price_card .card .button .btn:link, .btn:active {
  background-color: #e67e22;
  color: white;
  display: inline-block;
  margin-top: 40px;
  padding: 16px 32px;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.4s;
}
.container .price .main .price_card .card .button .btn:link:hover, .btn:visited:hover {
  transform: scale(1.1);
}
.container .features .main {
  padding: 80px 200px 80px 200px;
  display: flex;
  flex-direction: row;
  gap: 52px;
}
.container .features .main .each_feature {
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
}
.container .features .main .each_feature:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}
.container .features .main .each_feature ion-icon {
  margin-bottom: 40px;
}
.container .features .main .each_feature strong {
  font-size: 24px;
  margin-bottom: 20px;
  color: #211207;
}
.container .features .main .each_feature p {
  font-size: 16px;
  line-height: 1.8;
  color: #3e240c;
  font-family: "Rubik", sans-serif;
}
ion-icon {
    font-size: 32px; /* Controls the width and height */
    color: #e67e22;  /* Controls the icon fill color */
}
.container .cta {
}
.container .cta .main {
  padding: 80px 200px;
}
.container .cta .main .card {
  background-color: rgb(232, 141, 56);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .cta .main .card .content {
  padding: 50px;
}
.container .cta .main .card .content h1 {
  font-size: 40px;
  color: rgba(33, 18, 7, 0.793);
}
.container .cta .main .card .content p {
  line-height: 2;
  margin-top: 40px;
}
.container .cta .main .card .content .input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 44px;
}
.container .cta .main .card .image img {
  width: 380px;
  height: 447px;
}
.note {
  padding-bottom: 80px;
  color: rgb(84, 84, 84);
  text-align: center;
}
.h3 {
  font-size: 28px;
}

