* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
figure,
.figure,
.picture {
  position: relative;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  width: 100%;
}
.picture > img,
.picture > iframe,
.picture > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.sale {
  position: absolute;
  top: -3%;
  left: -3%;
  font-size: 22px;
  background-color: red;
  padding: 5px;
  color: white;
}
.parent {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 8px;
  margin: 20px 200px;
  border: 5px solid black;
}

.div1 {
  grid-column: span 6 / span 6;
  text-align: center;
  margin: 10px 0;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-row-start: 2;
  margin-left: 20px;
}

.div3 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 3;
  grid-row-start: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 5;
  grid-row-start: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.div5 {
  grid-column: span 6 / span 6;
  grid-row-start: 6;
  text-align: center;
}
.div5:hover {
  background-color: white;
}
.div5 button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}
.div5 button {
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  color: white;
  background: black;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.div1 h2 {
  text-transform: uppercase;
  font-size: 28px;
}
.div2 .picture {
  padding-top: 100%;
}
.div3 .prize {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.div3 .prize h3 {
  font-size: 22px;
}
.div3 p {
  font-size: 18px;
  line-height: 2;
}
.div3 a:hover { 
  text-decoration: none;
} 
.div3 a { 
  font-size: 18px;
  color: black;
}
.div3 .prize p {
  font-size: 12px;
}
.div4 h3 {
  font-size: 22px;

}
.div4 ul {
  list-style-type: square;
  font-size: 18px;
}
.div4 ul li {
  margin-bottom: 10px;
}
.div4 ul li:last-child {
  margin-bottom: 0;
}



.color {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.color_1 {
  width: 35px;
  aspect-ratio: 1;
  background-color: black;
}
.color_2 {
  width: 35px;
  aspect-ratio: 1;
  background-color: blue;
}
.color_3 {
  width: 35px;
  aspect-ratio: 1;
  background-color: red;
}
.color_4 {
  width: 35px;
  aspect-ratio: 1;
  background-color: yellow;
}
.color_5 {
  width: 35px;
  aspect-ratio: 1;
  background-color: lightgreen;
}
.color_6 {
  width: 35px;
  aspect-ratio: 1;
  background-color: rgb(224, 62, 62);
}
